// https://www.color-hex.com/color-palette/99744

//light mode
$bglight  : #d9d4eb;
$bodylight : #f5d0ba;
$textlight : #2a3074;
$linklight : #ed695f;

//dark mode
$bgdark : #1a1a2e;
$bodydark : #0f3460;
$textdark : #fff;
$linkdark : #e94560;

$font: "Noto Sans", sans-serif;

$ease   : 0.25s ease all;

@mixin ease($property){
  transition: $ease;
  -webkit-transition: $ease;
  -moz-transition: $ease;
  -o-transition: $ease;
}

//btn styles
$btnPrimary : #ed695f;
$btnSecondary : #fff;
$btnWarning : #fff;
$btnInfo : #fff;