@import './components/global.scss';

//light & dark toggle

.themeToggle {
    position: fixed;
    top: 0;
    right: 100px;

    input {
        height: 0px;
        width: 0px;
        background-color: transparent;

        &:before {
            content:'';
            height: 50px;
            width: 50px;
            display: block;
        }
    }
    label {
        visibility: hidden;
    }
}

//light mode
body {
    background: $bglight;
    color: $textlight;
    font-family: $font;
    
    a {
        color: $linklight;
        @include ease(transition($ease));

        &:hover {
            color: darken($linklight, 10%);
        }
    }

    ul {
        margin-left: 20px;
    }
    h1,h2,h3,h4,h5,h6 {
        color: $textlight;
    }
    p.description {
        color: $textlight;
    }

    code {
        border-color: rgba(0,0,0,0.25);
    }

    .themeToggle {
        input {
            &:before {
                content:'';
                background-image: $lightIcon;
            }
        }
    }

    #tsparticles {
        display: none;
    }

}
//end light mode

//dark mode
body.dark {
    background-color: $bgdark;
    color: $textdark;

    a {
        color: $linkdark;
    }

    .global-wrapper {
        background: $bodydark;
        overflow: hidden;
    }

    h1,h2,h3,h4,h5,h6 {
        color: $textdark;
    }

    p.description {
        color: $textdark;
    }

    code {
        border-color: rgba(255,255,255,0.25);
    }

    .themeToggle {
        input {
            &:before {
                content:'';
                background-image: $darkIcon;
            }
        }
    }

    #tsparticles {
        display: block;
    }
}
//end dark mode

.global-wrapper {
    background: $bglight;
    overflow: hidden;
}

h1.main-heading {
    position: relative;
    z-index: 1;
    display: block;
}

.small-text {
    font-size: 0.85em;
    margin: 0 0 15px 0;
    font-variant-caps: all-small-caps;
    letter-spacing: .5px;
}

// Listed blog post

.post-list-item {
    z-index: 1;
    position: relative;
    padding: 1.5rem;

    @include ease(transition($ease));
    h2 {
        padding-top: 1rem;
    }
    &:hover {
        color: $linklight;

        h2 {
            color: $linklight;
        }

        a {
            color: $linklight;
        }

        .small-text {
            color: $linklight;
        }

        .misterReader {
            .icon {
                bottom: -5px;
            }
        }
    }
    .misterReader {
        position: relative;
        width: 70px;
        height: 50px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: 50%;

        .grayHole {
            z-index: -1;
            position: absolute;
            bottom: 0;
            width: 92%;
            height: 69%;
            background-color: #ccc;
            border-radius: 50%;
        }
        .blackHole {
            z-index: 0;
            position: absolute;
            bottom: 0;
            margin: auto;
            width: 87%;
            height: 55%;
            background-color: #333;
            border-radius: 50%;
        }
        .icon {
            z-index: 0;
            position: absolute;
            bottom: -25px;
            height: 50px;
            width: 50px;
            background-image: url("../content/assets/reading-icon.png");
            background-size: cover;
            transition: 0.3s ease all;
        }
        &:hover,
        &:focus {
            .icon {
                bottom: -5px;
                cursor: pointer;
            }
        }
    }
}

.post-list-item .postFormatting {
    display: grid;
    grid-template-columns: 100px 2fr;
    align-items: center;;
}

@media (max-width: 768px) {
    .post-list-item .postFormatting {
        grid-template-columns: 1fr;
        .misterReader {
            display: none;
        }
    }
}


button {
    @include ease(transition($ease));
}

.blogPostBtn {
    padding: 1rem 2rem;
    background-color: $linklight;
    border: 3px solid darken($linklight, 10%);
    color: #fff;
    font-weight: bold;
    &:hover {
        background-color: darken($bodylight, 10%);
        cursor: pointer;
        box-shadow: 8px -8px 0px darken($linklight, 10%);
        border-color: $bodylight;
        color: $linklight;
    }
}

// FOOTER

footer {
    text-align: center;
    .attribution {
        font-size: 0.8em;
    }
}

// About page

.johnAvatar {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    background-image: url("../content/assets/reading-icon.png");
    background-size: cover;
}

// General styles

code {
    display: inline-block;
    padding: .1rem .5rem;
    border-left: 3px solid;
}

//ParticlesJS

#tsparticles {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 3000px;
    width: 3000px;
}